{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
         | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
        {% endif %}
		{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
        {% unless category == '0' %}
        <span style="text-transform:none">
		  | Tags: 
          {% if post %}
            {{ post.categories | category_links }}
          {% else %}
            {{ page.categories | category_links }}
          {% endif %}
        </span>
        {% endunless %}
	    <span class="share-to-weibo">
			<a href="javascript:void(0)" onclick="window.open('http://service.weibo.com/share/share.php?appkey=1479507984&amp;ralateUid=1462341965&amp;title={% if index %}{{ post.title }}{% else %}{{ page.title }}{% endif %} - &amp;url={{site.url}}{{ root_url }}{% if index %}{{ post.url }}{% else %}{{ page.url }}{% endif %}', null, 'width=615,height=505,toolbar=0,status=0')" class="sina-weibo" title="分享到新浪微博"></a>
			<a href="javascript:void(0)" onclick="window.open('http://share.v.t.qq.com/index.php?c=share&amp;a=index&amp;appkey=&amp;title={% if index %}{{ post.title }}{% else %}{{ page.title }}{% endif %} - &amp;url={{site.url}}{{ root_url }}{% if index %}{{ post.url }}{% else %}{{ page.url }}{% endif %}', null, 'width=700,height=680,toolbar=0,status=0')" class="tencent-weibo" title="分享到腾讯微博"></a>
			<!-- a href="javascript:void(0)" onclick="window.open('https://twitter.com/intent/tweet?text={% if index %}{{ post.title }} {% else %} {{ page.title }} {% endif %} - &amp;url={{site.url}}{{ root_url }}{% if index %}{{ post.url }}{% else %}{{ page.url }}{% endif %}', null, 'width=600,height=300,toolbar=0,status=0')" class="twitter" title="分享到Twitter"></a -->
		</span>
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
    <div class="entry-content">
        {% if post.abstract %}
        <div class="abstract">
            <table>
                <tr>
                    <td style="font-size:18px;font-weight:bold;width:60px">摘要：</td>
                    <td>{{ post.abstract }}</td>
                </tr>
            </table>
        </div>
        {% endif %}
        {{ content | excerpt }}
    </div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="entry-content">
    {% if page.abstract %}
    <div class="abstract">
        <table>
            <tr>
                <td style="font-size:18px;font-weight:bold;width:60px">摘要：</td>
                <td>{{ page.abstract }}</td>
            </tr>
        </table>
    </div>
    {% endif %}
    {{ content }}</div>
{% endif %}
